*{margin: 0;padding: 0;list-style: none;}
.main {
	height: 2000px;
}

.main_top {
	height: 468px;
	background: url(../fonts/新手指导img/kvbg1.jpg) top center no-repeat;
}

.allway {
	position: relative;
	width: 100%;
	min-width: 1180px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}

.main_bottom {
	height: 865px;
	background: url(../fonts/新手指导img/kvbg2.jpg) top center no-repeat;
}

.big_main {
	width: 1200px;
	margin: 0 auto;
	overflow: hidden;
	clear: both;
	position: relative;
}
.big_main ul{overflow: hidden;}
.main_left {
	width: 227px;
	float: left;
}
.main_left ul li{
	width: 227px;
	height: 91px;
	text-align: center;
	line-height: 91px;
	font-size: 28px;
	background: url(../fonts/新手指导img/btn-tab.png) no-repeat center top;
    background-position-x: center;
    background-position-y: top;
background-position: center -109px;
border-bottom: 1px solid #c4c0b2;
color: white;
cursor: pointer;
}
.main .on{background: url(../fonts/新手指导img/btn-tab.png) no-repeat center top;background-position: top center;}
.main_right{
	width: 958px;
height: 720px;
float: right;
background: url(../fonts/新手指导img/right-bg.png) no-repeat center;
overflow: hidden;
box-sizing: border-box;
}
.job li:after{
	content: " ";
	width: 1px;
	height: 44px;
	display: block;
	border-left: 1.5px solid
	#737373;
	position: absolute;
	top: 15px;
	opacity: 0.26;
}
.job li{
	width: 159.6px;
height: 70px;
cursor: pointer;
margin-bottom: 4px;
overflow: hidden;
float: left;
font-size: 24px;
line-height: 70px;
position: relative;
}
.first{
	color: brown;
}
/*职业*/
.charcon{height: 540px;margin: 60px 0 0 45px;width: 100%;}
.title{display: block;width: 404px;height: 80px;background: url(../fonts/项目实训img/role-title-spr.png) no-repeat;background-position-x: 0%;background-position-y: 100%;text-indent: -999em;}
.roleid .role-con .roletext:before{ 
	content: ' ';
	display: block;
    height: 20px;
    background: url(../fonts/项目实训img/line.png) no-repeat;
}
.roleid .role-con .roletext:after{ 
	content: ' ';
    display: block;
	margin-top: 15px;
    height: 1px;
    background: url(../fonts/项目实训img/line.png) no-repeat;
}
.roleid .role-con .roletext{text-align: center;width: 280px;margin-top: 60px;margin-left: 60px;}
.roleId-con {
    width: 600px;
    overflow: hidden;
    clear: both;
    }
 .roleId-con .roleId-ul {
    float: left;
    margin-top: 40px;
    width: 240px;
}
.roleId-con li {
    height: 30px;
    line-height: 20px;
    margin-bottom: 20px;
    color:
#475768;
font-size: 16px;
font-weight: 700;
    }
.roleId-con li p{float: left;}
.tech {
    float: left;
    margin-left: 10px;
    width: 231px;
    padding-left: 40px;
}
.techtit {
    margin-top: 40px;
    color: 
    #475768;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 12px;
}
.tech li {
    position: relative;
    width: 42px;
    height: 42px;
    float: left;
    margin-right: 10px;
}
.table_list .charsc{position: absolute;overflow: hidden;top: -11px;left: 395px;float: left;height: 598px;}